.root{
    -fx-pref-width: 800px;
    -fx-pref-height: 540px;
}

.button{
    -fx-max-height: 1000;
    -fx-max-width: 1000;
}

.grid{
    /*-fx-alignment: baseline-center;*/
    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
}

.pane{
    -fx-start-margin: 100px;
    -fx-end-margin: 50px;
}