.root{
    -fx-pref-width: 800px;
    -fx-pref-height: 540px;
    -fx-background-color: white;
}


.button{
    -fx-max-height: 1000;
    -fx-max-width: 1000;
}

.grid{
    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
}

.pane{
    -fx-start-margin: 100px;
    -fx-end-margin: 50px;
}

.wall, .wall:focused, .wall:selected, .wall:cell-selection, .wall:armed{
    -fx-border-color: white;
}

.wallLabel{
    -fx-font-size: 18px;
    -fx-text-alignment: center;
    -fx-padding: 5px;
    -fx-background-color: #dcdcdc;
    -fx-alignment: center;
}

