.root{
    -fx-background-color: white;
    -fx-pref-width: 812px;
    -fx-pref-height: 552px;
}

.pane{
    -fx-background-color: white;
}

.category{
    -fx-padding: 5px;
    -fx-border-color: #f4f4f4;
    -fx-background-color: #f4f4f4;
    -fx-pref-width: 300px;
}

.category:hover{
    -fx-background-color: #dcdcdc;
    -fx-border-color: #dcdcdc;
}
.category Text{
    -fx-text-alignment: left;
}
.category:focused, .category:pressed{
    -fx-background-color: B7B7B7;
    -fx-border-color: #b7b7b7;
}
